{% extends 'proj/base.html.twig' %}

{% block body %}
<h1>H책llbar utveckling</h1>
<h2>H책llbara st채der och samh채llen</h2>

{% include 'proj/content/sustainability/abstract.html.twig' %}

{% include 'proj/content/sustainability/introduction.html.twig' %}

{% include 'proj/content/sustainability/background.html.twig' %}

{% include 'proj/content/sustainability/analysis.html.twig' %}

{% include 'proj/content/sustainability/disscussion.html.twig' %}


{% endblock %}