html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 30px;
}

.picture {
    width: 300px;
}

.deck-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.red {
    color: red;
}

.black {
    color: black;
}

.card {
    width: 70px;
    height: 100px;
    border: 1px solid #606c76;
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0px;
    margin: 5px;
}

.symbol-top {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    align-self: center;
    justify-self: center;

}

.symbol-center {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
    display: flex;
    justify-self: center;
    align-self: center;
}

.symbol-bottom {
    grid-area: 3 / 3 / 4 / 4;
    margin: 0;
    align-self: center;
    justify-self: center;
}

.flash-warning {
    color: red;
}

.joker {
    font-size: 10px;
}