html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 30px;
}

.picture {
    width: 300px;
}

.deck-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.red {
    color: red;
}

.black {
    color: black;
}

.card {
    width: 70px;
    height: 100px;
    border: 1px solid #606c76;
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0px;
    margin: 5px;
}

.symbol-top {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    align-self: center;
    justify-self: center;

}

.symbol-center {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
    display: flex;
    justify-self: center;
    align-self: center;
}

.symbol-bottom {
    grid-area: 3 / 3 / 4 / 4;
    margin: 0;
    align-self: center;
    justify-self: center;
}

.flash-warning {
    color: red;
}

.joker {
    font-size: 10px;
}

.game-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.player-div {
    min-height: 300px;
}

.book-item {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    background: #fff;
    color: #000;
    /* font-size: 20px; */
    /* font-weight: 600; */
    line-height: 28px;
    padding: 12px 20px;
    /* text-align: center; */
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    margin-bottom: 1em;
    width: 60%;
}

.book-item:hover {
    background: rgb(251, 193, 245);
}


.book-item-container {
    display: flex;
    flex-direction: column;
}

.book-img {
    width: 200px;
}

.book-container {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

.book-info {
    margin-left: 2em;
}

.metrics-img {
    width: 50%;
    margin: 10px;
}

.metrics-img-vertical {
    height: 400px;
    margin: 10px;

}

.text-img-container {
    display: flex;
}