@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;500;700&family=Oswald:wght@500&display=swap');

:root {
    --main-text-color: #0A0909;
    --orange: #ed7a3c;
    --light-gray: #e4e4e4;
    --blue-green: #85b6b1;
    --pink: #fba2a2;
    --main-font: 'Open Sans', sans-serif;
    --alt-font: 'Montserrat', sans-serif;
    --heading-font: 'Oswald', sans-serif;
}

html {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.button {
    background-color: var(--orange);
    color: white;
    font-size: 20px;
    padding: 1em;
    border-radius: 0.4em;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button a {
    text-decoration: none;
    color: var(--light-gray);
}

body {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    /* background-color: var(--light-gray); */
    background-color: var(--orange);
}

main {
    /* padding-top: 4em; */
    /* width: 60%; */
    width: 75%;
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 20px;
}

h1 {
    font-size: 30px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    margin-top: 2em;
}

h1,
h2,
h3 {
    border-bottom: solid 0.3em var(--blue-green);

}

p,
li {
    font-family: var(--main-font);
}

code p,
blockquote p {
    font-family: var(--alt-font);
}

blockquote {
    border-left: solid 7px var(--light-gray);
    padding-left: 1em;
}

header {
    width: 25%;
    /* background-color: var(--light-gray); */
    /* margin-right: 5%; */
    align-self: stretch;
    height: 100vh;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 30px;
    align-self: stretch;
    font-size: 28px;
    letter-spacing: 0.17em;
}

.nav-link {
    padding-top: 0.8em;
}

.navigation a {
    text-decoration: none;
    /* color: var(--main-text-color); */
    border-top: 15px;
    color: white;
}

.navigation a:hover {
    text-decoration: underline;
}

.picture {
    width: 300px;
}

.red {
    color: red;
}

.black {
    color: black;
}

.flash-warning {
    color: red;
}

.metrics-img {
    width: 50%;
    margin: 10px;
}

.metrics-img-vertical {
    height: 400px;
    margin: 10px;
}

.text-img-container {
    display: flex;
}