{% include 'header.html.twig' %}
    <main>
    <h1> {{ title }} </h1>
        <div class="row">
            <div class="column"><a href="{{ path('doc') }}">Dokumentation</a></div>
            <div class="column"><a href="{{ path('startGame') }}">Play game!</a></div>
        </div>
    </main>

{% include 'footer.html.twig' %}
