{% include 'header.html.twig' %}
    <main>
    <h1> {{ title }} </h1>
    <p>
        Kursen Objektorienterade webbteknologier eller mvc som den kallas fokuserar på objektorienterad programmering i PHP. 
        Moment i kursen innefattar även ramverk och enhetstestning. 
    </p>
    <a href="https://github.com/dbwebb-se/mvc">Här finns en länk till kursen github-repo</a>

    <p>Jag kunde inte hitta en representerande bild för kursen så det bli en ordlek med tre istället :) </p>
    <div class="row">
            <img class="col picture"
     src="img/model.jpg"
     alt="Modell som sitter på en stol">
            <img class="col picture"
     src="img/view.jpg"
     alt="Vy av ett landskap">
            <img class="col picture"
     src="img/controller.jpg"
     alt="En nintendo-kontroll">
    </div>
    </main>
{% include 'footer.html.twig' %}
