{% include 'header.html.twig' %}
    <main>
    <h1> {{ title }} </h1>
    <p>
        Mitt namn är Malin och studerar första året på webbprogrammering 120hp distans på Bleking Tekniska Högskola. 
        Detta är min redovisningssida för kursen MVC. 
    </p> 
    <p> Jag gillar att sitta på min balkong i solen och dricka kaffe!</p>
    <img class="picture"
     src="img/malin_kaffe.jpg"
     alt="Jag som sitter på en balkong och dricker kaffe">

    </main>

{% include 'footer.html.twig' %}
